@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');
:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter',sans-serif;
    text-align: center;
}
body{
    height: 100vh;
    background-color: var(--background-color);
}
.header-container{
    gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
    max-width:1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
#maintag{
    font-family: inter;
    font-weight: 900;
    font-size: 2rem;
    color: var(--text-color);
}
.icondiv{
    gap: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#icon{
    width: 31px;
    height: 94px;
}
.nav{
   
    display: flex;
    gap: 1.3rem;
    
}
.nav-link{
    text-decoration: none;
    color: var(--gray);
    font-size: 1.2rem;
    font-weight: bold;
}
.contactbtn{
    padding: 14px 30px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 9px;
    font-weight: bold;
    font-size: 1rem;
}
.herosection{
    max-height:600px ;
    max-width:1260px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 15px;
}
.textbox{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;

}
.heroparatag{
    width: 80%;
    color: var(--gray);
    font-size: 1.1rem;
}
.textbox h3{
    font-size: 1.3rem;
    color: var(--primary-color);
}
.textbox h1{
    font-weight: bold;
    font-size: 4rem;
}
.heroimagediv img{
    height: 525px;
    width: 525px;
    border-radius: 15px;
}
.herobtn{
    display: flex;
    gap: 2rem;
}
.taketourbtn{
    padding: 14px 30px;
    background-color: var(--dark-gray);
    color: white;
    border-radius: 9px;
    font-weight: bold;
    font-size: 1rem;
}
.company-container{
    margin-top:50px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.1rem;
}
.company-logo-container{
    background-color: var(--light-gray);
    display: flex;
    gap: 5rem;
    height: 100px;
    width: 800px;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
}
.companytext h1{
    font-size: 2.6rem;
}
.imgandlogo{
    
    display: flex;
    gap: 0.6rem;
    align-items: center;
}
.imgandlogo img{
    width: 30px;
    height: 30px;
}
.advantage-container{
    margin-top:3rem ;
    /* border: 2px solid tomato; */
    width: 100%;
   height: 1200px;
    background-color: var(--light-gray);
}
.advantage-div{
    /* border: 2px solid black; */
    margin: auto;
    width: 70%;
    height: 100%;
}
.advantage-text-div h1{
    margin-top:1rem ;
    font-size: 2.4rem;
}
.advantage-text-div p{
    color: var(--gray);
    font-size: 1.1rem;
}
.advantage-text-div{
    margin: 2rem auto;
    /* border: 2px greenyellow solid; */
    width: 68%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.card-div
{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    height: 80%;
    margin: auto;
    width: 100%;
    /* border: #2563eb solid 2px; */
    padding: 1rem;
  
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 250px;
    /* border: 1px solid seagreen; */
    background-color: var(--accent-color);
    border-radius: 10px;
}
.card-img{

    /* border: 2px solid gold; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-img img{
    width: 30px;
    height: 30px;
}
.card-textbox{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.card-textbox h3{
    font-size: 1.5rem;
}
.afford{
    background-color: #FF6289;
}
.Industry{
    background-color: #FcbF58;
}
.Technology{
    background-color: #44bfc3;
}
.Responsive{
    background-color: #77b05d;
}
.Analytics{
    background-color: #7d78b1;
}
.about-container h1{
    text-align: center;
}
.about-container{
    /* border: 2px solid salmon; */
    margin: 6rem auto;
    width: 90%;
    height: 60%;
}
.about-card-container{
    width: 90%;
    /* border: 2px slateblue solid; */
    margin: 1rem auto;
   height: 80%;
    display: flex;
    gap: 2rem;
    padding: 1rem;

}
.about-card img{
    width: 80px;
    height: 80px;
}
.about-card{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 40%;
    border: 2px solid rgb(171, 163, 163);
    border-radius: 10px;
}
.name h4{
    color: var(--primary-color);
}
.newsletter{
    /* background-color: var(--light-gray); */
    text-align: left;
    margin: auto;
    width: 90%;
    height: 350px;
    /* border: solid 2px blue; */
    display: flex;
    /* gap: 1.5rem; */
    align-items: center;
}
.news-img{
    height: 90%;
    width: 50%;
}
.news-img img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
 
    
}
.news-text{
    background-color: var(--light-gray);
    height: 90%;
    width: 50%;
    padding: 3rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.inside-news-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
}
.inside-news-text h1{
    color: var(--primary-color);
    font-size: 2.8rem;
}
.inside-news-text p{
    font-size: 1.1rem;
    color: var(--gray);
}
.btnandinput{
    display: flex;
    height: 40px;
    width: 100%;
    gap: 1rem;
}
.btnandinput input{
    width:15rem;
    height: 2.5rem;
}
.sendbtn{
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.footer-container{
    /* border: 2px blueviolet solid; */
    height: 50vh;
    display: flex;
    padding: 2rem;
}
.left-footer{
    /* border: 2px blue solid; */
    height: 90%;
    width: 40%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    gap: 2rem;
}

.title{
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}
.footer-img-and-name{
    display: flex;
    align-items: center;
}
.footer-img-and-name img{
    width: 40px;
}
.left-footer p{
    color: var(--gray);
    font-size: 1.2rem;
}
.icons img{
    width: 30px;
    height: 30px;
}
.icons{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.right-footer{

    padding: 5rem;
    /* border: 2px red solid; */
    height: 100%;
    width: 60%;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 1rem;
}
ul{
   
    list-style-type:none ;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.column-heading{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.footer-column{
    width: 100px;
    display: flex;
    flex-direction: column;
}
.footer-copyright{
    padding-bottom:1.2rem ;
    color: var(--gray);
    border-top: 1px solid #E5E7EB;
   
}
.footer-copyright p{
    margin-top: 1rem;
}